<div
  class="d-flex align-items-center justify-content-between flex-wrap mt-5 mb-4 border-bottom"
>
  <h2 class="mb-4">{{ getFormTitle() }}</h2>
  <div class="d-flex gap-2 mb-3">
    <a routerLink="/gastos" class="btn btn-outline-secondary">Cancelar</a>
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="expenseForm.invalid"
      (click)="saveExpense()"
    >
      Guardar Gasto
    </button>
  </div>
</div>
<form [formGroup]="expenseForm" (ngSubmit)="saveExpense()" class="mb5">
<!-- <form (ngSubmit)="saveExpense()" class="mb5"> -->
  <div class="mb-3">
    <label for="typeInput">Tipo de gasto</label>
    <input
      type="text"
      formControlName="type"
      class="form-control {{ hasError('type') ? 'is-invalid' : '' }}"
      id="typeInput"
      ng-change="hasError('type')"
      placeholder="Ingrese el tipo de gasto"
    />
    <div class="invalid-feedback" [ngSwitch]="getCurrentError('type')">
      <span *ngSwitchCase="'required'">El campo tipo es requerido</span>
      <span *ngSwitchCase="'maxlength'"
        >El campo tipo debe contener 100 caracteres maximo</span
      >
    </div>
  </div>
  <div class="mb-3">
    <label for="amountInput">Cantidad gastada</label>
    <div class="input-group has-validation">
      <span class="input-group-text">$</span>
      <input
        type="number"
        formControlName="amount"
        class="form-control {{ hasError('amount') ? 'is-invalid' : '' }}"
        id="amountInput"
        placeholder="0.00"
      />
      <div class="invalid-feedback" [ngSwitch]="getCurrentError('amount')">
        <span *ngSwitchCase="'required'">El campo cantidad es requerido</span>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="descriptionInput">Descripción</label>
    <textarea
      formControlName="description"
      class="form-control {{ hasError('description') ? 'is-invalid' : '' }}"
      id="descriptionInput"
      placeholder="Agregue una descripción del gasto realizado"
    ></textarea>
    <div class="invalid-feedback" [ngSwitch]="getCurrentError('description')">
      <span *ngSwitchCase="'required'">El campo descripcion es requerido</span>
    </div>
  </div>
  <div class="mb-3">
    <label for="expenseDateInput">Fecha de gasto</label>
    <input
      type="date"
      formControlName="expense_date"
      class="form-control {{ hasError('expense_date') && 'is-invalid' }}"
      id="expenseDateInput"
    />
    <div class="invalid-feedback" [ngSwitch]="getCurrentError('expense_date')">
      <span *ngSwitchCase="'required'"
        >El campo fecha de gasto es requerido</span
      >
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="expenseForm.invalid"
  >
    Guardar Gasto
  </button>
</form>
